.App {
    text-align: center;
    background-color: #FFAE42;
}

.label {
    display: block;
    font-size: larget;
    color: white;
    padding: 5px;
}

.input {
    font-size: large;
    padding: 5px;
    margin: 2px;
}

.btn {
    color: white;
    background-color: blue;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
}

.messages {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5px;
}

.error {
    background-color: red;
    color: white;
}

.success {
    background-color: lightblue;
    color: black;
}
